#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    

    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}


#popup-inner{

    width: 200px;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}

#check-mark-div{
    background-color: rgb(152, 235, 18);
}


#span-tick{
    font-size: 100px;
}