#container-crypto-price-table {
   
    
}


#table-price-div {
    margin-top: 50px;
    height: 400px;
    width: 700px;
    text-align:center;

}

#table-price {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    
}

#table-price th,td {

   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #ddd;
   
}