#container-crypto-price-table {
   background-color: transparent;
}


#table-price-div {
    margin-top: 50px;
    height: 400px;
    width: 700px;
    text-align:center;

}

#table-price {

    background-color: transparent;
    border-collapse: collapse;
    color: black;
}

#table-price th,td {

   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #ddd;
   border-collapse: collapse;
   

}