#container {
    display: flex;
    
}  


#logged-users {

    margin-top: 108px;
    margin-left: 68px;
    padding-bottom: 108px;
    height: 208px;
    flex: 0 0 50%;
}


#change-user-role{
    margin-top: 108px;
    margin-right: 68px;
    margin-left: 68px;
    padding-bottom: 108px;
}