#container-admin-panel {
    display: flex;
}


#change-user-role {

    margin-top: 100px;
    margin-left: 180px;
    margin-right: 200px;


}


#user-top-five-buy {
    
    margin-top: 100px;

}


#logged-users {

    
    margin-left: 800px;


}