#container {
    display: flex;
    
}  


#logged-users {

    margin-top: 100px;
    margin-left: 60px;
    padding-bottom: 100px;
    height: 200px;
    flex: 0 0 50%;
}


#change-user-role{
    margin-top: 100px;
    margin-right: 60px;
    margin-left: 20px;
}