.market-info {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 30px;
  color: #000000;
  text-align: center;
  
}

.market-cap-value {
  color: #2e7d32;
  font-weight: bold;
}

.percentage-change {
  font-weight: bold;
}

.percentage-change.positive {
  color: #4caf50;
}

.percentage-change.negative {
  color: #e53935;
}

.table-container {
  border: 1px solid rgb(68, 62, 62);
  border-radius: 30px;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 200px;
  overflow-x: auto;
}

.crypto-table {
  background-color: #ffffff;
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.crypto-table thead {
  background-color: #f5f5f5;
  border-bottom: 2px solid #ddd;
}

.crypto-table th,
.crypto-table td {
  padding: 12px 15px;
  text-align: left;
 
}

.crypto-table tbody tr:hover {
  background-color: #f9f9f9;
}

.name-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.crypto-logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
  border-radius: 50%;
}

.chart-cell {
  width: 160px;
  height: 60px;
  padding: 5px 0;
}
