#div-span-info {
    margin-top: 100px;
    margin-left: 100px;

}



#span-text {
    
    font-size: 35px;
    font-weight: 500;
    
   
    
}





#special-font-market-cap {
    font-weight: bold;
    color: #0074a2
}