<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>

<body style="background-image: url(https://www.teahub.io/photos/full/304-3040935_crypto-going-up.jpg); background-repeat: no-repeat">

<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>

<main>
    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-3">
                <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">Add Credit Card</strong>
            </h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75 ">


            <form  th:action="@{/card/add}" method="POST" th:object="${addCreditCardBindingModel}"
                  class="text-center text-light">


                <div class="form-group row" style="padding-bottom: 10px">
                    <label class="col-sm-2 col-form-label">Balance</label>
                    <div class="col-sm-10">


                        <input th:field="*{balance}"  th:errorclass = "bg-danger" type="number" class="form-control">

                        <small th:if = "${#fields.hasErrors('balance')}" th:errors = "*{balance}"  class="bg-danger text-light rounded">
                            Balance must be Positive !
                        </small>

                    </div>
                </div>


                <div class="form-group row" style="padding-bottom: 10px">
                    <label class="col-sm-2 col-form-label">Expiration Year</label>
                    <div class="col-sm-10">


                        <input  th:field="*{expirationYear}"  th:errorclass = "bg-danger" type="number" class="form-control">

                        <small th:if = "${#fields.hasErrors('expirationYear')}"  th:errors = "*{expirationYear}" class="bg-danger text-light rounded">
                            Expiration year maximum is 2030 !
                        </small>
                    </div>
                </div>


                <div class="form-group row" style="padding-bottom: 10px">
                    <label class="col-sm-2 col-form-label">Iban</label>
                    <div class="col-sm-10">


                        <input th:field="*{iban}"  th:errorclass = "bg-danger" type="text" class="form-control">

                        <small th:if = "${#fields.hasErrors('iban')}" th:errors = "*{iban}"  class="bg-danger text-light rounded">
                            Iban must be between 15 and 20 characters !
                        </small>

                        <small th:if = "${addOneCardCheck}"  class="bg-danger text-light rounded">
                            You can add one card to your account !
                        </small>
                    </div>
                </div>


                <div class="form-group row" style ="padding-bottom: 10px" >
                    <label class="col-sm-2 col-form-label">Credit Card</label>


                    <select th:value="*{typeCard}" th:errorclass="bg-danger" name="typeCard" class="col-form-label col-sm-3" >
                        <option value="" selected>Select Type</option>

                        <option th:each="c : ${T(com.example.cryptoworld.models.enums.EnumCard).values()}"
                                th:text="${c}" th:value="${c}">PAYPAL</option>
                    </select>


                    <small th:if = "${#fields.hasErrors('typeCard')}" th:errors = "*{typeCard}" class="invalid-feedback bg-danger text-light rounded">
                        Type card cannot be empty !
                    </small>


                </div>


                <button type="submit" class="btn btn-info w-50">Add Credit Card</button>
            </form>
            <hr class="bg-light">
        </div>
    </div>
</main>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>