.build-portfolio-section {
  padding: 60px 60px;
  background-color: #0a0f1c;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.build-title {
  font-size: 2.5rem;
  font-weight: 700;
   margin-top: -10px;
  margin-bottom: 30px;
  color: #00feba;
}

.build-subtitle {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 40px;
}

.steps-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.step-card {
  background-color: #121829;
  border-radius: 16px;
  margin-top: 25px;
  padding: 24px;
  width: 280px;
  box-shadow: 0 8px 24px rgba(0, 255, 186, 0.1);
  transition: transform 0.3s ease;
}

.step-card:hover {
  transform: translateY(-6px);
}

.step-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 16px;
}

.step-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #038361;
  margin-bottom: 12px;
}

.step-description {
  font-size: 0.95rem;
  color: #aaa;
  line-height: 1.5;
}
