#form-sell-crypto{
    height: 400px;
    width: 480px;
}


#sell-value{

    background-image: url('../../Images/money-icon.png');
    background-repeat: no-repeat;
    background-position: left 9px top 2px;
    padding-left: 45px;

    background-size: 28px;

}



#crypto-asset {
    background-image: url('../../Images/crypto-icon.webp');
    background-repeat: no-repeat;
    background-position: left 5px top 2px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 16px;
    border-radius: 8px;

    background-size: 33px;

    font-size: 15px;
}


#crypto-asset option {
    font-size: 15px;
}