#wallet-details{

    margin-top: 40px;
    margin-left: 500px;
    margin-bottom: 200px;
    display: inline;

    border-radius: 18px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;

    background-color: rgb(40, 40, 77);
    color: white;
    
    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
    font-weight: bold;
    font-size: 15px;


}