#login-form {
    height: 330px;
    width: 400px;
    margin-top: 80px;
    margin-left: 500px;
    margin-bottom: 200px;
    text-align: center;

    border-radius: 20px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    
    background-color: rgb(40, 40, 77);
    color: white;
    
    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
    font-weight: bold;
    font-size: 17px;
}

form input {

    height: 30px;
    width: 300px;
    font-size: 18px;
    border-radius: 8px;
    
    
}    

form label {

    display: block;
    padding-top: 13px;
    padding-bottom: 10px;
    
}  


form p {

    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
} 

#login-username {

    background-image: url('../../Images/user-icon-1.png');
    background-repeat: no-repeat;
    background-position: left 8px top 2px;
    padding-left: 45px;
    
    background-size: 22px;
} 


#login-password {

    background-image: url('../../Images/pass-icon.png');
    background-repeat: no-repeat;
    background-position: left 9px top 2px;
    padding-left: 45px;
    
    background-size: 28px;
} 


form button {

  height: 40px;
  width: 200px;
  margin-top: 25px;
  background: #ddd;
  font-size: 25px;
  border: 1px solid rgb(10, 70, 228);
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(13, 164, 252);
   
  
  color: white;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
  font-weight: 500;

}

form button:hover {
    opacity: 0.9;
} 


#span-info{

    background-color: rgb(205, 92, 92);

    font-size: 12px;

}