#iban {

    background-image: url('../../Images/iban-icon.png');
    background-repeat: no-repeat;
    background-position: left 8px top 2px;
    padding-left: 45px;
    
    background-size: 22px;
} 


#expiration-year {

    background-image: url('../../Images/year.icon.png');
    background-repeat: no-repeat;
    background-position: left 9px top 2px;
    padding-left: 45px;
    
    background-size: 28px;
} 