#iban {

    background-image: url('../../Images/iban-icon.png');
    background-repeat: no-repeat;
    background-position: left 8px top 2px;
    padding-left: 45px;
    
    background-size: 22px;
} 


#expiration-year {

    background-image: url('../../Images/year.icon.png');
    background-repeat: no-repeat;
    background-position: left 9px top 2px;
    padding-left: 45px;
    
    background-size: 28px;
} 


#balance{
    background-image: url('../../Images/money-icon.png');
    background-repeat: no-repeat;
    background-position: left 9px top 2px;
    padding-left: 45px;
    
    background-size: 28px;

}


#credit-card{

    background-image: url('../../Images/credit-card-icon.jpg');
    background-repeat: no-repeat;
    background-position: left 5px top 2px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 16px;
    border-radius: 8px;
    
    background-size: 44px;

}

#credit-card-option{
    font-size: 15px;
}

button{
    
}
