#form-logged-user-admin-panel{

    height: 58px;
    width: 288px;

    margin-left: 78px;
    margin-right: 28px;
    margin-top: 80px;
    margin-bottom: 38px;

    border-radius: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);

    background-color: rgb(40, 40, 77);
    color: white;

    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    ;
    font-weight: bold;
    font-size: 15px;

    
}


#p-logged-users{
    margin-top: 15px;
}


