<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>

<body style="background-image: url(https://www.teahub.io/photos/full/304-3040935_crypto-going-up.jpg); background-repeat: no-repeat">

<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>

<main>
    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-3 ">
                <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">
                    Create Account</strong></h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">


            <form th:action="@{/users/create}" method="POST" th:object="${registrationBindingModel}"
                  class=" text-center text-light">
                <div class="form-group row" style ="padding-bottom: 10px">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">


                        <input name="username" th:value="*{username}" th:errorclass="is-invalid" required minlength="5"
                               maxlength="20" type="text" class="form-control" id="username"
                               aria-describedby="usernameHelpInline" placeholder="Username">


                        <small id="usernameHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Username length must be between 3 and 20 characters.
                        </small>


                    </div>
                </div>

                <div class="form-group row" style ="padding-bottom: 10px">
                    <label for="lastName" class="col-sm-2 col-form-label">Full name</label>
                    <div class="col-sm-10">


                        <input name="fullName" th:value="*{fullName}" th:errorclass="is-invalid" required minlength="5"
                               maxlength="20" type="text" class="form-control" id="lastName"
                               aria-describedby="lastNameHelpInline" placeholder="Last name">


                        <small id="lastNameHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Full name length must be between 5 and 20 characters.
                        </small>


                    </div>
                </div>
                <div class="form-group row" style ="padding-bottom: 10px">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">


                        <input name="email" th:value="*{email}" th:errorclass="is-invalid" required type="email"
                               class="form-control" id="email"
                               aria-describedby="emailHelpInline" placeholder="email@example.com">


                        <small id="emailHelpInline" class="bg-danger text-light rounded invalid-feedback">
                            Enter valid email address.
                        </small>


                    </div>
                </div>
                <div class="form-group row" style ="padding-bottom: 10px">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">


                        <input name="password" th:errorclass="is-invalid" required minlength="5" maxlength="20"
                               type="password" class="form-control" id="password"
                               aria-describedby="passwordHelpInline" placeholder="Password">


                        <small id="passwordHelpInline" class="invalid-feedback bg-danger text-light rounded">
                            Password length must be more than 5 characters long.
                        </small>


                    </div>
                </div>
                <div class="form-group row" style ="padding-bottom: 10px">
                    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">


                        <input name="confirmPassword" th:errorclass="is-invalid" required minlength="5" maxlength="20"
                               type="password" class="form-control" id="confirmPassword"
                               aria-describedby="confirmPasswordHelpInline" placeholder="Confirm Password">


                        <small id="confirmPasswordHelpInline" class="invalid-feedback bg-danger text-light rounded">
                            Password length must be more than 5 characters long.
                        </small>


                    </div>
                </div>


                <div class="form-group row" style ="padding-bottom: 10px" >
                    <label class="col-sm-2 col-form-label">Country</label>


                    <select th:value="*{country}" th:errorclass="is-invalid" name="country" class="col-form-label col-sm-3" >
                        <option value="" selected>Select Country</option>

                        <option th:each="c : ${T(com.example.cryptoworld.models.enums.EnumCountry).values()}"
                                th:text="${c}" th:value="${c}">Albania</option>
                    </select>


                    <small class="invalid-feedback bg-danger text-light rounded">
                        Country cannot be empty!
                    </small>


                </div>

                <button class="btn btn-info w-50" type="submit">Create Account</button>
            </form>
            <hr class="bg-light">
        </div>
    </div>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>