<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/js/chart.js"></script>
</head>

<body style="background-image: url(https://www.teahub.io/photos/full/304-3040935_crypto-going-up.jpg); background-repeat: no-repeat">

<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<div id="donutchart" style="width: 900px; height: 500px;"></div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>