<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>

<body style="background-image: url(https://www.teahub.io/photos/full/304-3040935_crypto-going-up.jpg); background-repeat: no-repeat; height: 100%;">

<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>


<div class="container text-light" style="margin-top: 20px; padding-bottom: 15px;">
    <h1 class="display-3">
        <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">Portfolio Value</strong>
    </h1>
</div>


<div th:each="w : ${wallet}" th:object="${w}" style="padding-bottom: 100px; margin-right:150px; margin-left: 150px; background: transparent">

    <table class="table table-dark table-striped">
        <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Crypto Name</th>
            <th scope="col">Deposit In Crypto</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Bitcoin</td>
            <td th:text="*{bitcoin}"></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ethereum</td>
            <td th:text="*{ethereum}"></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Binance</td>
            <td th:text="*{binance}"></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Cardano</td>
            <td th:text="*{cardano}"></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Tether</td>
            <td th:text="*{tether}"></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Solana</td>
            <td th:text="*{solana}"></td>
        </tr>
        <tr>
            <td>7</td>
            <td>XRP</td>
            <td th:text="*{xrp}"></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Polkadot</td>
            <td th:text="*{polkadot}"></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Dogecoin</td>
            <td th:text="*{dogecoin}"></td>
        </tr>
        <tr>
            <td>10</td>
            <td>Usdcoin</td>
            <td th:text="*{usdcoin}"></td>
        </tr>
        </tbody>
    </table>


</div>

<div class="container text-light" style="padding-bottom: 15px;">
    <h1 class="display-3">
        <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">Crypto Price</strong>
    </h1>
</div>


<div style="padding-bottom: 100px; margin-right:150px; margin-left: 150px; background: transparent">

    <table class="table table-dark table-striped">
        <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Crypto Name</th>
            <th scope="col">Current Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Bitcoin</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>


</div>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>