<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>


<body class="bg-secondary">


<header th:replace="fragments/fragment :: navigation"></header>

<main role="main" class="bg-secondary">

    <div class="jumbotron">
    <div class="container text-light text-center">
        <h1 class="display-3"><strong class="bg-blur rounded">Buy Bitcoin</strong></h1>
        <h1 class="display-3"><strong class="bg-blur rounded">And Crypto</strong></h1>
        <h1 class="display-3"><strong class="bg-blur rounded">Asset</strong></h1>
        <p class="h3">Sign up today and buy top 10 cryptocurrencies</p>
    </div>
    </div>

</main>



<footer th:replace="fragments/fragment :: footer"></footer>


</body>


</html>