<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>


<body style="background-image:   url(https://www.teahub.io/photos/full/304-3040935_crypto-going-up.jpg); background-size: 100%;">


<header th:replace="fragments/fragment :: navigation"></header>

<main class="p-5 align-content-center">

    <div class="container text-light text-center">
        <h1 class="display-3"><strong class="bg-blur rounded">Buy Bitcoin</strong></h1>
        <h1 class="display-3"><strong class="bg-blur rounded">And Crypto</strong></h1>
        <h1 class="display-3"><strong class="bg-blur rounded">Asset</strong></h1>
        <p class="h3">Sign up today and buy top 10 cryptocurrencies</p>
    </div>


</main>



<footer th:replace="fragments/fragment :: footer"></footer>


</body>


</html>