<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>


<body style="background-image: url(https://www.teahub.io/photos/full/304-3040935_crypto-going-up.jpg); background-repeat: no-repeat">


<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>

<main>
    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-3">
                <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">Sell Crypto</strong>
            </h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75 ">


            <form  th:action="@{/sell/add}" method="POST" th:object="${sellCryptoBindingModel}"
                   class="text-center text-light">


                <div class="form-group row" style="padding-bottom: 10px">
                    <label class="col-sm-2 col-form-label">Username Confirm</label>
                    <div class="col-sm-10">


                        <input th:field="*{usernameConfirm}"  th:errorclass = "bg-danger" type="text" class="form-control">

                        <small th:if = "${#fields.hasErrors('usernameConfirm')}" th:errors = "*{usernameConfirm}"  class="bg-danger text-light rounded">
                            Username must be between 3 and 20 characters !
                        </small>

                        <small th:if="${userCheckIfIsPresent}"  class="bg-danger text-light rounded">
                            Username is not Valid !
                        </small>

                        <small th:if="${findIfUserInsertPersonalUsernameCheck}"  class="bg-danger text-light rounded">
                            You can sell using personal username !
                        </small>

                    </div>
                </div>


                <div class="form-group row" style="padding-bottom: 10px">
                    <label class="col-sm-2 col-form-label">Sell Value</label>
                    <div class="col-sm-10">


                        <input  th:field="*{sellValue}"  th:errorclass = "bg-danger" type="number" class="form-control">

                        <small th:if = "${#fields.hasErrors('sellValue')}"  th:errors = "*{sellValue}" class="bg-danger text-light rounded">
                            Sell value must be Positive !
                        </small>

                        <small th:if="${sellValueCheck}"  class="bg-danger text-light rounded">
                            Sell value is more than your fund, please recharge your wallet !
                        </small>
                    </div>
                </div>


                <div class="form-group row" style ="padding-bottom: 10px" >
                    <label class="col-sm-2 col-form-label">Crypto Asset</label>


                    <select th:value="*{crypto}" th:errorclass="bg-danger" name="crypto" class="col-form-label col-sm-3" >
                        <option value="" selected>Select Type</option>

                        <option th:each="c : ${T(com.example.cryptoworld.models.enums.EnumCryptoTop10).values()}"
                                th:text="${c}" th:value="${c}">Bitcoin</option>
                    </select>


                    <small th:if = "${#fields.hasErrors('crypto')}" th:errors = "*{crypto}" class="invalid-feedback bg-danger text-light rounded">
                        Crypto Asset cannot be empty !
                    </small>


                </div>


                <button type="submit" class="btn btn-info w-50">Sell Crypto</button>
            </form>
            <hr class="bg-light">
        </div>
    </div>
</main>







<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>