#container-index-page {

    
}


#container-popular-crypto {
    margin-bottom: 150px;
    display: flex;
}


#p-popular-crypto {
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}