#container-index-page {}



#information-div {
    display: flex;
}


#crypto-girl-img {

    
    width:200px;
    height: auto;

}


#crypto-information {

    font-family: Open Sans, Arial, sans-serif, cursive;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 850px;
    margin-right: 150px;
    margin-bottom: 250px;


    border-radius: 10px;


}

#bold-text-welcome {
    color: rgb(54, 54, 105);
    font-weight: bold;
    font-size: 29px;
}

#bold-text {
    color: rgb(54, 54, 105);
    font-weight: bold;
}


#container-popular-crypto {
    display: flex;
}


#p-popular-crypto {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}