.topnav {
  background-color: rgb(40, 40, 77);
  border-bottom: 2px solid rgb(201, 196, 196);
  overflow: hidden;
  min-width: 1210px;
}


.topnav img {

  display: inline;
  margin-top: 0px;
  margin-left: 0px;
  
  width: 180px;
  height: 40px;

  padding: 0px 0px;
  
  cursor: pointer;
  padding-right: 50px;
  border-radius: 8px;



}

.topnav a:hover {
  
  background-color: rgb(27, 168, 250);
  color: white;
  
}

.topnav a {
  float: left;
  margin-top: 18px;
  margin-left: 30px;
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 14px;
  font-family:CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 650;
  border-radius: 8px;
}





.topnav button {
  float: right;
  padding: 6px;
  margin-top: 27px;
  margin-right: 110px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid rgb(10, 70, 228);
  cursor: pointer;
  background-color: rgb(13, 164, 252);
  border-radius: 10px;
  
  color: white;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
  font-weight: 500;

 
} 

.topnav button:hover {
opacity: 0.9;
} 















