/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  margin-top: 5px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: cursive;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/*nav bran style*/
.topnav p {
  float: left;
  margin-top: 16px;
  padding-left: 8px;
  padding-right: 30px;
  color: rgb(89, 95, 175);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  font-family: cursive;
}