html ,body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url('./Images/purple-background-1.webp');
  background-size: "cover";
  background-repeat: no-repeat;
  min-height:100%;
}
#root {
  width: 100%;
  height: 100%;
}