#user-details-welcome {

    margin-top: 25px;
    margin-left: 50px;
    font-size: 18px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}