footer {
  background-color: #0a0f1c;
  color: #ffffff;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 16px;
  color: #00feba;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

footer li {
  font-size: 1rem;
}

footer li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer li a:hover {
  color: #00feba; /* hover color */
  text-decoration: underline;
}

footer span {
  display: block;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
}
