#bnb-container {
    height: 300px;
    width: 300px;

    margin-top: 150px;
    margin-left: 300px;
    margin-right: 80px;
   
    margin-bottom: 150px;

    

    padding-top: 15px;
    border-radius: 10px;

    box-shadow: 0 0 8px #000;;
}


#bnb-container:hover {
    transform: scale(1.1);
}