#form-change-user-role{
    height: 450px;
    width: 350px;
}


#username-change-role{
    background-repeat: no-repeat;
    background-position: left 8px top 4px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 16px;
    border-radius: 8px;

    background-size: 40px;

    font-size: 15px;

}


#role-select{
    font-size: 16px;

}




#button-change-user-role {
    height: 40px;
    width: 210px;
    background: #ddd;
    font-size: 24px;
    border: 1px solid rgb(10, 70, 228);
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(13, 164, 252);

    margin-top: 50px;


    color: white;
    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    ;
    font-weight: 450;
}