#form-change-user-role {
  width: 400px;
  padding: 30px 25px;
  background-color: #1e1e2f;
  color: white;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-align: center;
}

#p-change-role {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

#admin-labels {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-size: 14px;
  color: #d3d3d3;
}

/* Username Input */
#username-change-role {
  width: 100%;
  height: 40px;
  padding-left: 45px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  background-image: url('../../../Images/user-icon-1.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 22px;
}

/* Role Dropdown */
#role-select {
  width: 100%;
  height: 40px;
  padding-left: 45px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  background-image: url('../../../Images/role-change.jpg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 25px;
  margin-bottom: 30px;
}

/* Submit Button */
#button-change-user-role {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  background-color: #27ae60;
  color: white;
  transition: all 0.3s ease;
}

#button-change-user-role:hover {
  background-color: #219653;
  opacity: 0.9;
}
