#form-change-user-role{
    height: 450px;
    width: 350px;
}




#button-change-user-role {
    height: 50px;
    width: 220px;
    background: #ddd;
    font-size: 25px;
    border: 1px solid rgb(10, 70, 228);
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(13, 164, 252);

    margin-top: 50px;


    color: white;
    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    ;
    font-weight: 450;
}